*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    background: url("/static/img/So_I_Can_Remeber.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    overflow-x: hidden;
}

.wrapper {
    background: linear-gradient(rgba(255,255,255,0) 0%,rgba(33, 33, 33, 1) 100%);
    min-height: 100vh;
}

main {
    padding: 20px;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
}

.left {
    transform: translateX(-100%);
}

.right {
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.show:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}