*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#background {
    background-image: url("/static/img/So_I_Can_Remeber.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 25%;
    position: relative;
}

#content {
    background-color: rgba(248, 247, 216, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content :nth-child(){
    opacity: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0,0,0,0.8855742980786064) 0%, rgba(255,255,255,0) 100%);
    padding: 20px;
    height: 100px;
}

#logo {
    height: 100px;
}

a img{
    height: 100%;
}

nav {
    width: 40%;
    height: fit-content;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

li a, li a:visited, li a:hover {
    text-decoration: none;
}

main {
    padding: 20px;
}