{% extends 'base.html' %}
{% block content %}
        <h1>About Us</h1>

        <p>Here to take you on an emotional journey, J.O.B are a progressive and alternative rock trio from East London redefining the rock genre,
            making you cry, headbang, and sing along on the way. The band have recently undergone a small tour of London, released a music video 
            with over 3k views, and been played and interviewed on national radio shows touted as “going to be stratospheric” - Delux Radio. 
            They've been actively releasing new music with “The Powers On High” named “a belter” - Phoenix FM with “insane guitar work” - BBC Essex and 
            new single “So I Can Remember” warranting a live audience member to review that “there is a gap in the british rock scene that these boys are meant to fill”</p>
 {% endblock content %}